{% extends "./inc/base.html" %}

<!--页面内容-->
{% block page %}

<body class="gray-bg">

  <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <!-- <div class="ibox-title">
                        <h5>多点轨迹</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                            </a>
                        </div>
                    </div> -->
                    <!-- <div class="ibox-content"> -->
                        <div style="height:550px" id="comguiji"></div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    <!--js-->
    {% block script %}
    <!-- 全局js -->
    <script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/js/bootstrap.min.js?v=3.3.6"></script>

    <!-- ECharts -->
    <script src="/static/js/plugins/echarts/echarts.min.js"></script>

    <!-- 自定义js -->
    <script src="/static/js/content.js?v=1.0.0"></script>

    <!-- ECharts demo data -->
    <script src="/static/js/demo/echarts-demo.js"></script>

    <!--引入百度地图的jssdk，这里需要使用你在百度地图开发者平台申请的 ak-->
    <script src="http://api.map.baidu.com/api?v=2.0&ak=vWzgRPT6sSe2fSVK3xMIDZhoWF8oEQdE"></script>
    <!-- 引入百度地图扩展 -->
    <script src="/static/js/plugins/echarts/bmap.min.js"></script>

    <script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('comguiji'));

        myChart.showLoading();
        $.getJSON('/index/comguiji', function (data) {
    

            var hStep = 400 / (data.length - 1);
            var busLines = [];

            for(var i =0;i<data.length;i++){
                busLines.push({
                    coords: data[i]['coords'],
                    lineStyle: {
                        normal: {
                            color: echarts.color.modifyHSL('#5A94DF', Math.round(hStep * i))
                        }
                    }
                })
            }
  
            // alert(JSON.stringify(busLines)) 
            var option = {
                    bmap: {
                        center: [104.072619,30.663154],
                        zoom: 12,
                        roam: true,
                        mapStyle: {
                        'styleJson': [
                            {
                            'featureType': 'water',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#031628'
                            }
                            },
                            {
                            'featureType': 'land',
                            'elementType': 'geometry',
                            'stylers': {
                                'color': '#000102'
                            }
                            },
                            {
                            'featureType': 'highway',
                            'elementType': 'all',
                            'stylers': {
                                'visibility': 'off'
                            }
                            },
                            {
                            'featureType': 'arterial',
                            'elementType': 'geometry.fill',
                            'stylers': {
                                'color': '#000000'
                            }
                            },
                            {
                            'featureType': 'arterial',
                            'elementType': 'geometry.stroke',
                            'stylers': {
                                'color': '#0b3d51'
                            }
                            },
                            {
                            'featureType': 'local',
                            'elementType': 'geometry',
                            'stylers': {
                                'color': '#000000'
                            }
                            },
                            {
                            'featureType': 'railway',
                            'elementType': 'geometry.fill',
                            'stylers': {
                                'color': '#000000'
                            }
                            },
                            {
                            'featureType': 'railway',
                            'elementType': 'geometry.stroke',
                            'stylers': {
                                'color': '#08304b'
                            }
                            },
                            {
                            'featureType': 'subway',
                            'elementType': 'geometry',
                            'stylers': {
                                'lightness': -70
                            }
                            },
                            {
                            'featureType': 'building',
                            'elementType': 'geometry.fill',
                            'stylers': {
                                'color': '#000000'
                            }
                            },
                            {
                            'featureType': 'all',
                            'elementType': 'labels.text.fill',
                            'stylers': {
                                'color': '#857f7f'
                            }
                            },
                            {
                            'featureType': 'all',
                            'elementType': 'labels.text.stroke',
                            'stylers': {
                                'color': '#000000'
                            }
                            },
                            {
                            'featureType': 'building',
                            'elementType': 'geometry',
                            'stylers': {
                                'color': '#022338'
                            }
                            },
                            {
                            'featureType': 'green',
                            'elementType': 'geometry',
                            'stylers': {
                                'color': '#062032'
                            }
                            },
                            {
                            'featureType': 'boundary',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#465b6c'
                            }
                            },
                            {
                            'featureType': 'manmade',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#022338'
                            }
                            },
                            {
                            'featureType': 'label',
                            'elementType': 'all',
                            'stylers': {
                                'visibility': 'off'
                            }
                            }
                        ]
                        }
                    },
                    series: [{
                        type: 'lines',
                        coordinateSystem: 'bmap',
                        polyline: true,
                        data: busLines,
                        silent: true,
                        lineStyle: {
                            normal: {
                                // color: '#c23531',
                                // color: 'rgb(200, 35, 45)',
                                opacity: 0.2,
                                width: 1
                            }
                        },
                        progressiveThreshold: 500,
                        progressive: 200
                    }, {
                        type: 'lines',
                        coordinateSystem: 'bmap',
                        polyline: true,
                        data: busLines,
                        lineStyle: {
                            normal: {
                                width: 0
                            }
                        },
                        effect: {
                            constantSpeed: 20,
                            show: true,
                            trailLength: 0.5,
                            symbolSize: 1.5
                        },
                        zlevel: 1
                    }]
                }
       
            myChart.hideLoading();
            myChart.setOption(option);

            var bmap = myChart.getModel().getComponent('bmap').getBMap();
            bmap.addControl(new BMap.MapTypeControl());
        });
    </script>

    {% endblock %}
